
@import './info/info.scss';
@import './purchase/purchase.scss';
@import './services/services.scss';
@import './tasks/tasks.scss';

.page-main__info {
  padding-top: 14px;
  @include md {
    padding-top: 60px;
  }
}

.page-main__tasks {
  padding-top: 60px;
  @include md {
    padding-top: 100px;
  }
}

.page-main__slider {
  padding-top: 30px;
}

.page-main__services {
  padding-top: 60px;
  @include md {
    padding-top: 50px;
  }
}

.page-main__purchase {
  padding: 60px 0 60px 0;
  @include md {
    padding: 62px 0 100px 0;
  }
}