@font-face {
  font-family: 'MTS Sans';
  src: url('../../static/fonts/MTSSans-Bold.eot');
  src: url('../../static/fonts/MTSSans-Bold.eot?#iefix') format('embedded-opentype'),
      url('../../static/fonts/MTSSans-Bold.woff2') format('woff2'),
      url('../../static/fonts/MTSSans-Bold.woff') format('woff'),
      url('../../static/fonts/MTSSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'MTS Sans';
  src: url('../../static/fonts/MTSSans-Medium.eot');
  src: url('../../static/fonts/MTSSans-Medium.eot?#iefix') format('embedded-opentype'),
      url('../../static/fonts/MTSSans-Medium.woff2') format('woff2'),
      url('../../static/fonts/MTSSans-Medium.woff') format('woff'),
      url('../../static/fonts/MTSSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MTS Sans';
  src: url('../../static/fonts/MTSSans-Regular.eot');
  src: url('../../static/fonts/MTSSans-Regular.eot?#iefix') format('embedded-opentype'),
      url('../../static/fonts/MTSSans-Regular.woff2') format('woff2'),
      url('../../static/fonts/MTSSans-Regular.woff') format('woff'),
      url('../../static/fonts/MTSSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MTS Sans UltraWide';
  src: url('../../static/fonts/MTSSans-UltraWide.eot');
  src: url('../../static/fonts/MTSSans-UltraWide.eot?#iefix') format('embedded-opentype'),
      url('../../static/fonts/MTSSans-UltraWide.woff2') format('woff2'),
      url('../../static/fonts/MTSSans-UltraWide.woff') format('woff'),
      url('../../static/fonts/MTSSans-UltraWide.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'MTS Sans';
  src: url('../../static/fonts/MTSSans-Black.eot');
  src: url('../../static/fonts/MTSSans-Black.eot?#iefix') format('embedded-opentype'),
      url('../../static/fonts/MTSSans-Black.woff2') format('woff2'),
      url('../../static/fonts/MTSSans-Black.woff') format('woff'),
      url('../../static/fonts/MTSSans-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

